header {
	top: 0;
	max-width: 100px;
}
header img {
	display:center;
	margin: 0 auto;
	width: 200px;
}

body {
	background-color:white ;
}

main {
	clear: left;
	background-color:  whitesmoke ;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	color: #000000;
	padding: 0 1em;
}

footer p a {
	color: #000000;
	text-decoration: none;
	
}